<div class="login-button" ng-click="login()">
    <div class="login-button-fb-container">
        <img class="login-button-fb-icon" src="/assets/images/fb.png">
    </div>
    <div class="login-button-text">
        Login with Facebook
    </div>
</div>