<img class="menu-logo" src="/assets/images/sandwich.png">
<ul class="menu-menu">
    <li class="menu-menu-item" ui-sref-active="selected"><a ui-sref="home">Sandwiches</a></li>
    <li class="menu-menu-item" ui-sref-active="selected"><a ui-sref="shopping">Shopping</a></li>
</ul>

<user></user>