<div class="register-container">
    <h1 class="register-welcome">Welcome, {{user.firstName}}!</h1>
    <h2 class="register-new">You must be new here..</h2>

    <p class="register-shop-ask">Would you like to volunteer for shopping?</p>

    <div class="register-shop-buttons">
        <button type="button" class="register-shop-yes btn btn-success" ng-class="{active: yesActive}" ng-click="yes()">Yes</button>
        <button type="button" class="register-shop-no btn btn-danger" ng-click="no()">Maybe Later</button>
    </div>

    <div ng-if="yesActive">
        <p class="register-bank-ask">Please enter your bank account to receive payments:</p>
        <div class="register-bank-account">
            <input type="text" placeholder="bank" class="form-control register-bank-input register-bank-input-bank" ng-paste="onPaste($event)" ng-model="bank.bank"/>
            <input type="text" placeholder="branch" class="form-control register-bank-input register-bank-input-branch" ng-model="bank.branch"/>
            <input type="text" placeholder="account" class="form-control register-bank-input register-bank-input-account" ng-model="bank.account"/>
            <input type="text" placeholder="suffix" class="form-control register-bank-input register-bank-input-suffix" ng-model="bank.suffix"/>
        </div>

        <p class="register-bank-ask">Mobile Banking?</p>
        <div class="register-bank-mobile">
            <input type="text" placeholder="Phone Number" class="form-control register-bank-input register-bank-input-phone" ng-model="bank.phoneNumber"/>
            <select class="form-control register-bank-input register-bank-input-bankSelect" ng-model="bank.bankName">
                <option>ANZ</option>
                <option>ASB</option>
                <option>BNZ</option>
                <option>Kiwibank</option>
                <option>TSB</option>
                <option>Westpac</option>
            </select>
        </div>
    </div>

    <button type="button" class="btn btn-success btn-lg register-signUp" ng-if="yesActive || noActive" ng-click="signup()")>Sign me up!</button>

</div>