<div class="week-selector">
    <div class="week-selector-left" ng-click="prevWeek()">&lt;</div>
    <div class="week-selector-middle" ng-click="returnToThisWeek()">{{getWeekText()}}</div>
    <div class="week-selector-right" ng-click="nextWeek()">&gt;</div>
</div>
<div class="week-plan" ng-if="!loading">
    <select ng-model="sandwichPlan" ng-change="updatePlan(sandwichPlan)">
        <option value="0">None</option>
        <option value="1">1.5</option>
        <option value="2">2</option>
    </select>
</div>


<div class="week-shopper" ng-if="!loading && hasShopper">
    <div class="week-shopper-title">
        This weeks shopping...
    </div>
    <div class="week-shopper-user">
        <img ng-src="{{shopper.avatarUrl}}" alt="" class="week-shopper-user-avatar user-avatar">
        <span class="week-shopper-user-name">{{shopper.firstName}} {{shopper.lastName}}</span>

        <div ng-if="shopperIsUser()">
            <input type="number" ng-model="week.cost" /><button ng-click="updateCost()">update</button>
        </div>
        <div ng-if="!shopperIsUser()">
            <span class="week-shopper-user-amount">{{week.cost | currency}}</span>
        </div>

    </div>
    <div class="week-shopper-payment" ng-if="hasSlices">
        Your share: {{week.cost / slices | currency}} <label for="paid"><input type="checkbox" id="paid" ng-model="slices.paid" ng-true-value="1" ng-false-value="0" ng-click="setPaid(hasPaid)"/> paid</label>
    </div>
</div>

<div class="week-shopper" ng-if="!loading && !hasShopper" ng-click="setShopperAsUser()">
    Click here to volunteer for shopping
</div>


<div class="others">
    <div class="week-shopper-user" ng-repeat="user in week.sandwichers">
        <img ng-src="{{user.avatarUrl}}" alt="" class="week-shopper-user-avatar user-avatar">
        <span class="week-shopper-user-name">{{user.name}}</span>
        <!--<span class="week-shopper-user-amount">{{user.slices}}</span>-->
    </div>
</div>

<div ng-if="loading">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>