@import "_variables";

.login {
  &-container {
    width: 300px;
    margin: 300px auto;
  }

  &-image {
    width: 300px;
  }

  &-button {
    width: 300px;
    height: 50px;
    background: #3b5998;
    border-radius: 25px;
    margin-top: 50px;
    display: flex;
    cursor: pointer;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.1);

    &:hover {
      background: #4966a6;
    }

    &-fb-container {
      flex: 1;
    }

    &-fb-icon {
      height: 30px;
      margin-left: 30px;
      margin-top: 10px;
    }

    &-text {
      color: white;
      text-align: center;
      line-height: 50px;
      display: inline-block;
      height: 50px;
      flex: 4;
      font-family: "Lucida Grande";
      font-size: 17px;
    }
  }
}