@import "_variables";

@import "reset.css";

@import "login";
@import "register";
@import "menu";
@import "user";
@import "week";

html {
  background: @color-primary;
  font-family: "azo-sans-web",sans-serif;
}

body {
  background: @color-primary;
}


.container {
  width: 1000px;
  margin: 100px auto 0;
}