@import "_variables";

.menu {
  &-logo {
    height: 50px;
    margin-right: 30px;
  }

  &-menu {
    height: 50px;
    list-style: none;
    display: inline-block;
    vertical-align: top;

    &-item {
      display: inline-block;
      font-size: 25px;
      margin-right: 10px;
      line-height:30px;
      padding:10px;
      border-radius: 10px;

      a {
        color: white;
      }
      &.selected {
        background: lighten(@color-primary, 10%);

      }
    }
  }
}