

.register {
  &-container {
    width: 800px;
    margin: 300px auto auto;
  }

  &-welcome {
    color: white;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }

  &-new {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  }

  &-shop {
    &-ask {
      color: white;
      font-size: 30px;
      text-align: center;
      margin-bottom: 15px;
    }

    &-buttons {
      width: 400px;
      margin: auto auto 50px;
    }

    &-yes {
      display: inline-block;
      width: 100px;
      font-size: 20px;
    }

    &-no {
      display: inline-block;
      width: 200px;
      float: right;
      font-size: 20px;
    }
  }

  &-bank {
    &-ask {
      color: white;
      font-size: 25px;
      text-align: center;
      margin-bottom: 15px;
    }

    &-account {
      width: 500px;
      margin: auto auto 30px;
    }

    &-mobile {
      width: 300px;
      margin: auto auto 30px;
    }

    &-input {
      font-size: 20px;
      margin-right: 10px;
      display: inline-block;

      &:last-of-type {
        margin-right: 0;
      }

      &-bank {
        width: 70px;
      }

      &-branch {
        width: 100px;
      }

      &-account {
        width: 200px;
      }

      &-suffix {
        width: 85px;
      }

      &-phone {
        width: 200px;
      }

      &-bankSelect {
        width: 80px;
        float: right;
      }
    }
  }

  &-signUp {
    width: 400px;
    display: block;
    margin: 50px auto auto;
    font-size: 25px;
  }
}