user {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  float: right;
}

.user {
  &-logout {
    line-height: 50px;
    font-size: 25px;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
  }

  &-avatar {
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    display: inline-block;
  }
}