@import "_variables";

.week {
  &-selector {
    display: flex;
    width: 500px;
    margin: 50px auto;
    height: 50px;

    &-left, &-right {
      width: 50px;
      text-align: center;
      color: white;
      font-size: 25px;
      line-height: 50px;
      border-radius: 10px;

      &:hover {
        background: lighten(@color-primary, 10%);
      }
    }

    &-middle {
      flex:1;
      text-align: center;
      color: white;
      font-size: 25px;
      line-height: 50px;
    }
  }

  &-counter {
    display: flex;
    width: 400px;
    margin: 50px auto;
    height: 200px;

    &-left, &-right {
      width: 100px;
      line-height: 200px;
      font-size: 100px;
      text-align: center;
      color: white;
      border-radius: 10px;

      &:hover {
        background: lighten(@color-primary, 10%);
      }
    }

    &-middle {
      flex:1;
      line-height: 200px;
      font-size: 100px;
      text-align: center;
      color: white;
      }
  }

  &-shopper {
    width: 600px;
    margin: 50px auto;

    &-title {
      color: white;
      font-size: 25px;
      text-align: center;
    }
    
    &-user {
      width: 350px;
      margin: 30px auto;
      display: flex;

      &-avatar {
        vertical-align: top;
      }

      &-name {
        display: inline-block;
        margin: 0 30px;
        flex: 1;
        text-align: center;
      }

      &-name, &-amount {
        vertical-align: top;
        line-height: 50px;
        font-size: 25px;
        color: white;
      }
    }

    &-payment {
      text-align: center;
      color: white;
      font-size: 25px;

      #paid {
        margin-left: 10px;
        height: 17px;
      }
    }
  }
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}